<a class="item" href="promo_2018"><i class="university icon"> </i>Promo 2018</a>
<a class="item" href="realisateurs"><i class="user circle outline layout icon"></i>Realisateurs invités</a>
<a class="item"><i class="tv icon"></i>Video-conf</a>
<a class="item"><i class="record icon"></i>Moocs</a>
<a class="item"><i class="student icon"></i>Cours spécifiques</a>
<a class="item"><i class="book icon"></i>Base de données</a>
<a class="item"><i class="film icon"></i>Films</a>
<a class="item" href="ressources"><i class="idea icon"></i>Ressources</a>
<a class="item" href="revues"><i class="folder icon"></i>Revues</a>
<a class="item"><i class="slack icon"></i>Forum</a>
