<% provide(:title, "Contact") %>
<%= render 'layouts/header' %>

<div class="ui container">
  <h1>StaticPages#contact</h1>
  <p>Find me in app/views/static_pages/contact.html.erb</p>
</div>

<%= render 'layouts/footer' %>
