<% provide(:title, "Aide") %>
<%= render 'layouts/header' %>
<div class="ui container">
  <h1>StaticPages#help</h1>
  <p>Find me in app/views/static_pages/help.html.erb</p>
</div>

<%= render 'layouts/footer' %>
