<% provide(:title, "Accueil") %>
<%= render 'layouts/header' %>

<div class="ui container">
  <h1>StaticPages#info_page</h1>
  <p>Find me in app/views/static_pages/info_page.html.erb</p>
</div>

<%= render 'layouts/footer' %>
