<% provide(:title, "La formation") %>
<%= render 'layouts/header' %>
<!--
<div class="ui container">
  <h1>StaticPages#la_formation</h1>
  <p>Find me in app/views/static_pages/la_formation.html.erb</p>
</div>
-->

<div class="ui top attached demo menu" style="margin-top: -15px;">
  <a class="item">
    <i class="sidebar icon"></i> Menu
  </a>
</div>
<div class="ui bottom attached segment">
  <div class="ui inverted labeled icon left inline vertical demo sidebar menu">
  <%= render 'nav_first' %>
  </div>
  <div class="pusher">
    <div class="ui basic segment" style="background-color: #8ea9af;">  <!-- B24F3B -->
      <h3 class="ui header">
        Cours en ligne / 2ème année :
      </h3>
      <h4>Enseignements Théorique</h4>
      <p>Histoire de l'          <h4 style="font-size: 20px">Enseignement Théorique</h4>
          <p style="font-size: 18px;"> / Histoire de l'art</p>
          <p style="font-size: 18px;"> / Histoire du cinéma</p>
          <p style="font-size: 18px;"> / Sémiologie/Analyse d'images et de textes</p>
          <p style="font-size: 18px;"> / Atelier d'écriture / Sénario</p>
          <p style="font-size: 18px;"> / Anglais</p>art</p>
      <p>Histoire du cinéma</p>
      <p>Sémiologie/Analyse d'images et de textes</p>
      <p>Atelier d'écriture / Sénario</p>
      <p>Anglais</p>
      <p>-----</p>
      <h4>Enseignements Arts plastiques</h4>
      <p>Activités encadrées</p>
      <p>Photo / Vidéo / Enseignements Arts Appliques</p>
      <p>Graphisme / Enseignement du dessin</p>
      <p>Story-board</p>
      <p>-----</p>
      <h4>Enseignements Pratique</h4>
      <p>Initiation</p>
      <p> - à la mise en scène</p>
      <p> - à la prise de vue</p>
      <p> - au montage</p>
      <p> - au son et au mixage</p>
      <p> - à la gestion d'un tournage</p>
      <p> - à la post-production</p>
      <p> - à l'exploitation</p>
      <p>-----</p>
      <h4>Production</h4>
      <p>Portfolio</p>
      <p>Scénario</p>
      <p>Dossier d'enquête</p>
      <p>Dossier thématique</p>
    </div>
  </div>
</div>


<style media="screen">
.secondary.menu {
margin: 0 5rem;
}
</style>

<script type="text/javascript">

$('.ui.sidebar').sidebar({
    context: $('.bottom.segment')
  })
  .sidebar('attach events', '.menu .item');

</script>


<%= render 'layouts/footer' %>
