<% provide(:title, "La formation") %>
<%= render 'layouts/header' %>
<div class="ui container">
  <h1>StaticPages#la_formation</h1>
  <p>Find me in app/views/static_pages/la_formation.html.erb</p>
</div>

<%= render 'layouts/footer' %>
