<% provide(:title, "La formation") %>
<%= render 'layouts/header' %>
<!--
<div class="ui container">
  <h1>StaticPages#la_formation</h1>
  <p>Find me in app/views/static_pages/la_formation.html.erb</p>
</div>
-->

<div class="ui top attached demo menu" style="margin-top: -15px;">
  <a class="item">
    <i class="sidebar icon"></i> Menu
  </a>
</div>
<div class="ui bottom attached segment">
  <div class="ui inverted labeled icon left inline vertical demo sidebar menu">

<%= render 'nav_first' %>
  </div>
  <div class="pusher">
    <div class="ui basic segment" style="background-color: #a1d1b6;">  <!-- B24F3B -->
      <div class="wrap">
        <h3 class="ui header" style="font-size: 30px;">
          Réalisateur
        </h3>
          <h4 style="font-size: 20px">Bertrand BONELLO</h4>
          <p style="font-size: 18px;"> CV </p>

          <p>2016 - Nocturama (Réalisateur, Scénariste, Musique)</p>
          <p>2014 - Le Dos Rouge (Acteur, Compositeur)</p>
          <p>2014 - Saint Laurent (Réalisateur, Scénariste, Dialoguiste)</p>
          <p>2011 - L'Apollonide, Souvenirs De La Maison Close (Réalisateur, Producteur, Scénariste)</p>
          <p>2010 - Where The Boys Are (Réalisateur, Scénariste)</p>
          <p>2007 - De La Guerre (Réalisateur, Producteur, Scénariste, Compositeur)</p>
          <p>2007 - My New Picture (Réalisateur)</p>
          <p>2006 - Ingrid Caven, Musique Et Voix (Réalisateur)</p>
          <p>2006 - On Ne Devrait Pas Exister (Acteur)</p>
          <p>2005 - Cindy The Doll Is Mine (Réalisateur, Scénariste)</p>
          <p>2004 - Les Petits Fils (Compositeur)</p>
          <p>2003 - Tiresia (Réalisateur, Scénariste)</p>
          <p>2001 - Le Pornographe (Réalisateur, Scénariste, Compositeur)</p>
          <p>1998 - Quelque Chose D'Organique (Réalisateur, Scénariste, Compositeur)</p>
          <p>1996 - Qui Je Suis (Réalisateur, Acteur)</p>
     </div>
     <div style="margin-top:800px;"></div>
    </div>
  </div>
</div>

<style media="screen">
.secondary.menu {
margin: 0 5rem;
}
</style>

<script type="text/javascript">

$('.ui.sidebar').sidebar({
    context: $('.bottom.segment')
  })
  .sidebar('attach events', '.menu .item');

/* main menu */
/*
$('.main.sidebar')
  .sidebar('attach events', '.item.sidebar')
  .sidebar('setting', 'transition', 'push');

// secondary menu
$('.secondary.menu .ui.sidebar')
  .sidebar({ context: $('.bottom.segment') })
  .sidebar('attach events', '.secondary.menu .item')
  .sidebar('setting', 'transition', 'push')
  .sidebar('setting', 'dimPage', false)
*/
</script>


<%= render 'layouts/footer' %>
