<% provide(:title, "La formation") %>
<%= render 'layouts/header' %>
<!--
<div class="ui container">
  <h1>StaticPages#la_formation</h1>
  <p>Find me in app/views/static_pages/la_formation.html.erb</p>
</div>
-->

<div class="ui top attached demo menu" style="margin-top: -15px;">
  <a class="item">
    <i class="sidebar icon"></i> Menu
  </a>
</div>
<div class="ui bottom attached segment">
  <div class="ui inverted labeled icon left inline vertical demo sidebar menu">

<%= render 'nav_first' %>
  </div>
  <div class="pusher">
    <div class="ui basic segment" style="background-color: #a1d1b6;">  <!-- B24F3B -->
      <div class="wrap">
        <h3 class="ui header" style="font-size: 30px;">
          Cours en ligne / 1ère année
        </h3>
        <h4>
          International
        </h4>
        <p>
          Micropsia </br>
          http://www.micropsiacine.com/category/criticas/
        </p>

        <h4>
          Europe
        </h4>
        <h5>
        France
        </h5>

        <p>
          Cahiers de Narratologie </br>
        http://journals.openedition.org/narratologie/
        </p>
        <p>
          Panorama-Cinema</br>
        http://www.panorama-cinema.com/V2/index.php
        </p>
        <p>
          Questions de communication</br>
        http://journals.openedition.org/questionsdecommunication/
        </p>
        <p>
          Collectif Jeune Cine</br>
        http://www.cjcinema.org
        </p>
        <p>
          IRMA (Pôle innovation Musique)</br>
        http://www.irma.asso.fr
        </p>
        <p>
          Observatoire des Mondes Numériques en Sciences Sociales</br>
        http://www.omnsh.org
        </p></d
     iv>
     <div style="margin-top:800px;"></div>
    </div>
  </div>
</div>


<style media="screen">
.secondary.menu {
margin: 0 5rem;
}
</style>

<script type="text/javascript">

$('.ui.sidebar').sidebar({
    context: $('.bottom.segment')
  })
  .sidebar('attach events', '.menu .item');

</script>


<%= render 'layouts/footer' %>
