<% provide(:title, "À propos") %>
<%= render 'layouts/header' %>

<div class="ui container">
  <h1>Cours de deuxième année</h1>
  <p>Find me in app/views/static_pages/about.html.erb</p>
</div>

<%= render 'layouts/footer' %>
