
<% provide(:title, "Session") %>
<%= render 'layouts/header' %>
<div class="ui container">
  <h1>Sessions#new</h1>
  <p>Find me in app/views/sessions/new.html.erb</p>
</div>
<%= render 'layouts/footer' %>
