<main id="calendar">

	<%= render 'layouts/header' %>

	<div class="ui container">
	  <h1>StaticPages#calendar</h1>
	  <p>Find me in app/views/calendar/calendar.html.erb</p>



	<% render 'headers' %>
	<% render 'week', collection: @calendar %>
	</div>

	<%= render 'layouts/footer' %>
</main>
