<div class="ui inverted vertical footer segment" style="margin-top:60px;">
    <div class="ui center aligned container">
      <div class="ui stackable inverted divided grid">
        <div class="three wide column">
          <h4 class="ui inverted header">Liens utiles</h4>
          <div class="ui inverted link list">
            <a href="https://prepa-cinema.slack.com/" class="item"><img src="https://upload.wikimedia.org/wikipedia/commons/7/76/Slack_Icon.png" alt="" style="width:20px;height:20px;vertical-align:middle;margin-right:8px;">Slack</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Nous</h4>
          <div class="ui inverted link list">
            <a href="http://www.prepart.fr/" class="item">Prép'art</a>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header">Réseaux</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Facebook</a>
            <a href="#" class="item">Twitter</a>
          </div>
        </div>
        <div class="seven wide column">
          <h4 class="ui inverted header">Prépa Cinéma</h4>
          <p>
            23, passage de Ménilmontant </br>
            75011 Paris M° Ménilmontant - Rue Saint-Maur </br>
            Tél : 01 43 57 48 02 </br>
            info.prepa.cinéma@gmail.com
         </p>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <!-- <img src="assets/images/logo.png" class="ui centered mini image"> -->
      <div class="ui horizontal inverted small divided link list">
        <a class="item" href="#">Plan du site</a>
        <a class="item" href="#">Conditions générales</a>
        <%= link_to "Aide", help_path, :class => "item"%>
        <%= link_to "À propos", about_path, :class => "item"%>
      </div>
      <div>
        <a href="http://www.julienlaville.fr" target="_blank">&copy;	- 2018 - Prépa Cinéma. Réalisé par Julien Laville</a>
      </div>
    </div>
  </div>
